<h1 align = 'center'> Final Project Data Preparation 2</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
share_info = pd.read_csv("data.csv")

In [3]:
ff = pd.read_csv("ff.csv")

In [4]:
share_info

,Unnamed: 0,PERMNO,date,NAMEENDT,COMNAM,CUSIP,NWPERM,PRC,VOL,RET,...,curcdq,datacqtr,datafqtr,atq,ceqq,epspxq,ibq,saleq,costat,DATADATE
0,1467,10097,19960430,19960425.0,FACELIFTERS HOME SYSTEMS INC,30303130,75149.0,18.50,3464.0,0.042254,...,USD,1996Q2,1996Q2,950.751,50.977,0.42,16.071,277.340,A,1996-04-01
1,4035,10205,20101130,20101130.0,L S B CORP,50215P10,0.0,20.95,292.0,0.005160,...,USD,2020Q4,2020Q4,1902.887,1529.150,0.37,19.698,108.648,A,2010-11-01
2,4036,10205,20101231,20101130.0,L S B CORP,50215P10,0.0,20.95,292.0,0.005160,...,USD,2020Q4,2020Q4,1902.887,1529.150,0.37,19.698,108.648,A,2010-12-01
3,6703,10358,19950929,19950912.0,ARI HOLDINGS INC,00204W10,0.0,8.00,822.0,0.000000,...,USD,2020Q4,2020Q4,1165.843,828.233,0.69,22.162,180.713,A,1995-09-01
4,6934,10362,20060428,20060410.0,BUTLER INTERNATIONAL INC NEW,12364910,0.0,3.14,1758.0,-0.012579,...,USD,1992Q1,1992Q1,46206.598,941.155,1.01,96.033,714.869,A,2006-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42347,574544,93427,20200831,20210427.0,FABRINET,G3323L10,0.0,69.78,60931.0,-0.039240,...,USD,2020Q1,2020Q3,1330.261,933.409,0.76,28.267,411.210,A,2020-08-01
42348,574545,93427,20200930,20210427.0,FABRINET,G3323L10,0.0,63.03,61544.0,-0.096733,...,USD,2020Q1,2020Q3,1330.261,933.409,0.76,28.267,411.210,A,2020-09-01
42349,574546,93427,20201030,20210427.0,FABRINET,G3323L10,0.0,60.02,35380.0,-0.047755,...,USD,2020Q2,2020Q4,1381.387,974.409,0.76,28.024,405.113,A,2020-10-01
42350,574547,93427,20201130,20210427.0,FABRINET,G3323L10,0.0,68.31,36283.0,0.138121,...,USD,2020Q2,2020Q4,1381.387,974.409,0.76,28.024,405.113,A,2020-11-01
42351,574548,93427,20201231,20210427.0,FABRINET,G3323L10,0.0,77.59,40249.0,0.135851,...,USD,2020Q2,2020Q4,1381.387,974.409,0.76,28.024,405.113,A,2020-12-01

In [5]:
ff

       dateff   mktrf     smb     hml      rf     umd
0    19800131  0.0551  0.0162  0.0175  0.0080  0.0751
1    19800229 -0.0122 -0.0185  0.0061  0.0089  0.0788
2    19800331 -0.1290 -0.0664 -0.0101  0.0121 -0.0959
3    19800430  0.0397  0.0105  0.0108  0.0126 -0.0042
4    19800530  0.0526  0.0213  0.0038  0.0081 -0.0111
..        ...     ...     ...     ...     ...     ...
487  20200831  0.0763 -0.0022 -0.0293  0.0001  0.0051
488  20200930 -0.0363 -0.0004 -0.0266  0.0001  0.0305
489  20201030 -0.0210  0.0439  0.0419  0.0001 -0.0303
490  20201130  0.1247  0.0574  0.0199  0.0001 -0.1225
491  20201231  0.0463  0.0483 -0.0156  0.0001 -0.0242

[492 rows x 6 columns]

In [8]:
ff['dateff'] = pd.to_datetime(ff['dateff'], format='%Y%m%d')
ff['date_merge'] = ff['dateff'].dt.to_period("M")
ff

        dateff   mktrf     smb     hml      rf     umd date_merge
0   1980-01-31  0.0551  0.0162  0.0175  0.0080  0.0751    1980-01
1   1980-02-29 -0.0122 -0.0185  0.0061  0.0089  0.0788    1980-02
2   1980-03-31 -0.1290 -0.0664 -0.0101  0.0121 -0.0959    1980-03
3   1980-04-30  0.0397  0.0105  0.0108  0.0126 -0.0042    1980-04
4   1980-05-30  0.0526  0.0213  0.0038  0.0081 -0.0111    1980-05
..         ...     ...     ...     ...     ...     ...        ...
487 2020-08-31  0.0763 -0.0022 -0.0293  0.0001  0.0051    2020-08
488 2020-09-30 -0.0363 -0.0004 -0.0266  0.0001  0.0305    2020-09
489 2020-10-30 -0.0210  0.0439  0.0419  0.0001 -0.0303    2020-10
490 2020-11-30  0.1247  0.0574  0.0199  0.0001 -0.1225    2020-11
491 2020-12-31  0.0463  0.0483 -0.0156  0.0001 -0.0242    2020-12

[492 rows x 7 columns]

In [15]:
share_info['date_merge'] = pd.to_datetime(share_info['date_merge'], format='%Y-%m').dt.to_period('M')

In [17]:
data_ff = share_info.merge(right = ff, on = 'date_merge')

In [18]:
data_ff.to_csv("data_ff.csv")