<h1 align='center'> Training </h1>

In [164]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [165]:
data = pd.read_csv("in_sample.csv")
data

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,PERMNO,date,NAMEENDT,COMNAM,CUSIP,NWPERM,PRC,...,ibq,saleq,costat,DATADATE,dateff,mktrf,smb,hml,rf,umd
0,0,0,1467,10097,19960430,19960425.0,FACELIFTERS HOME SYSTEMS INC,30303130,75149.0,18.5000,...,16.071,277.340,A,1996-04-01,1996-04-30,0.0206,0.0522,-0.0405,0.0046,-0.0091
1,1,1,286181,61209,19960430,20020101.0,TRANSTECHNOLOGY CORP,10676410,18374.0,16.5000,...,95.575,1629.983,A,1996-04-01,1996-04-30,0.0206,0.0522,-0.0405,0.0046,-0.0091
2,2,2,298578,62594,19960430,19960412.0,INVESTORS INSURANCE GROUP INC,46160610,0.0,0.9375,...,98.400,580.200,A,1996-04-01,1996-04-30,0.0206,0.0522,-0.0405,0.0046,-0.0091
3,3,3,317541,66245,19960430,20011031.0,M D C HOLDINGS INC,55267610,0.0,7.0000,...,3.306,226.824,A,1996-04-01,1996-04-30,0.0206,0.0522,-0.0405,0.0046,-0.0091
4,4,4,319608,66683,19960430,20020101.0,R P C INC,74966010,0.0,11.5000,...,3.320,38.827,A,1996-04-01,1996-04-30,0.0206,0.0522,-0.0405,0.0046,-0.0091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18971,42347,42347,518171,88159,20001130,19901114.0,EXELIXIS INC,30161Q10,0.0,14.5000,...,-10.973,5.616,A,2000-11-01,2000-11-30,-0.1072,-0.0339,0.1234,0.0051,-0.0240
18972,42348,42348,519578,88232,20001130,20020101.0,N R G ENERGY INC,62937710,0.0,25.6250,...,43.581,473.836,A,2000-11-01,2000-11-30,-0.1072,-0.0339,0.1234,0.0051,-0.0240
18973,42349,42349,519976,88281,20001130,19980903.0,CHARLES RIVER LABS INTL INC,15986410,0.0,21.3750,...,7.974,77.430,A,2000-11-01,2000-11-30,-0.1072,-0.0339,0.1234,0.0051,-0.0240
18974,42350,42350,521595,88378,20001130,20211231.0,STORAGENETWORKS INC,86211E10,0.0,29.3750,...,61.287,154.891,A,2000-11-01,2000-11-30,-0.1072,-0.0339,0.1234,0.0051,-0.0240
18975,42351,42351,522483,88519,20001130,19870623.0,EQUINIX INC,29444U10,0.0,4.3750,...,60.721,18.803,A,2000-11-01,2000-11-30,-0.1072,-0.0339,0.1234,0.0051,-0.0240

In [166]:
data.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'PERMNO', 'date',
       'NAMEENDT', 'COMNAM', 'CUSIP', 'NWPERM', 'PRC', 'VOL', 'RET', 'SHROUT',
       'SPREAD', 'vwretd', 'sprtrn', 'DATE', 'date_merge', 'gvkey', 'datadate',
       'fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc', 'datafmt', 'tic',
       'curcdq', 'datacqtr', 'datafqtr', 'atq', 'ceqq', 'epspxq', 'ibq',
       'saleq', 'costat', 'DATADATE', 'dateff', 'mktrf', 'smb', 'hml', 'rf',
       'umd'],
      dtype='object')

In [167]:
data["saleq"]

0         277.340
1        1629.983
2         580.200
3         226.824
4          38.827
           ...
18971       5.616
18972     473.836
18973      77.430
18974     154.891
18975      18.803
Name: saleq, Length: 18976, dtype: float64

In [168]:
data = data[pd.to_numeric(data.RET, errors='coerce').notnull()]

In [169]:
data['RET'] = data['RET'].astype(np.float)

/tmp/ipykernel_78061/1462319195.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data['RET'] = data['RET'].astype(np.float)
/tmp/ipykernel_78061/1462319195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['RET'] = data['RET'].astype(np.float)

In [170]:
data['VOL']

0          3464.0
1          2564.0
2            37.0
3          3949.0
4          5077.0
           ...
18971     83266.0
18972    105151.0
18973     24937.0
18974    253765.0
18975     72850.0
Name: VOL, Length: 18957, dtype: float64

In [171]:
# take value we need
data["size"] = data['PRC'] * data['SHROUT']
data['s2p'] = data['saleq'] / data['size']
data['risk_premium'] = data['RET'] - data['mktrf']

/tmp/ipykernel_78061/4175320337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["size"] = data['PRC'] * data['SHROUT']
/tmp/ipykernel_78061/4175320337.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['s2p'] = data['saleq'] / data['size']
/tmp/ipykernel_78061/4175320337.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['risk_premium'] = data['RET'] - data['mktrf']

In [172]:
data_use = data[['tic','PERMNO', 'VOL', 'RET','risk_premium', 'SPREAD', 'size', 's2p', 'epspxq', 'ceqq', 'mktrf', 'smb', 'hml', 'rf',
       'umd','sprtrn', 'date_merge']]
data_use

,tic,PERMNO,VOL,RET,risk_premium,SPREAD,size,s2p,epspxq,ceqq,mktrf,smb,hml,rf,umd,sprtrn,date_merge
0,AMT,10097,3464.0,0.042254,0.021654,0.03125,6.288150e+04,0.004411,0.42,50.977,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04
1,TT,61209,2564.0,0.100000,0.079400,1.25000,8.419950e+04,0.019359,0.90,1795.500,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04
2,WST,62594,37.0,-0.062500,-0.083100,0.12500,2.590312e+03,0.223988,1.33,1854.500,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04
3,MDC,66245,3949.0,-0.030345,-0.050945,0.12500,1.349180e+05,0.001681,0.17,205.033,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04
4,RES,66683,5077.0,0.108434,0.087834,0.12500,1.672675e+05,0.000232,0.23,104.361,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18971,EXEL,88159,83266.0,-0.342776,-0.235576,2.75000,6.523840e+05,0.000009,-0.32,113.132,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11
18972,NRG,88232,105151.0,-0.014423,0.092777,0.25000,8.301475e+05,0.000571,0.28,1360.914,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11
18973,CRL,88281,24937.0,-0.185714,-0.078514,0.06250,6.908400e+05,0.000112,0.40,-108.663,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11
18974,NNN,88378,253765.0,-0.536946,-0.429746,0.03125,2.679529e+06,0.000058,0.33,3974.300,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11
18975,EQIX,88519,72850.0,-0.551282,-0.444082,0.25000,3.350812e+05,0.000056,19.14,284.192,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11

In [173]:
# uniform size
data_use['sizeln'] = np.log(data_use['size'])

/u6/y3264zhang/.local/lib/python3.8/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/u6/y3264zhang/.local/lib/python3.8/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/tmp/ipykernel_78061/2569121157.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_use['sizeln'] = np.log(data_use['size'])

In [174]:
data_use['sizeln']

0        11.049007
1        11.340944
2         7.859534
3        11.812422
4        12.027350
           ...
18971    13.388389
18972    13.629359
18973    13.445664
18974    14.801151
18975    12.722128
Name: sizeln, Length: 18957, dtype: float64

In [175]:
data_use.replace([np.inf, -np.inf], np.nan, inplace=True)
data_use.dropna(inplace = True)

/tmp/ipykernel_78061/1161450167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_use.replace([np.inf, -np.inf], np.nan, inplace=True)
/tmp/ipykernel_78061/1161450167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_use.dropna(inplace = True)

In [176]:
data_use

,tic,PERMNO,VOL,RET,risk_premium,SPREAD,size,s2p,epspxq,ceqq,mktrf,smb,hml,rf,umd,sprtrn,date_merge,sizeln
0,AMT,10097,3464.0,0.042254,0.021654,0.03125,6.288150e+04,0.004411,0.42,50.977,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04,11.049007
1,TT,61209,2564.0,0.100000,0.079400,1.25000,8.419950e+04,0.019359,0.90,1795.500,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04,11.340944
2,WST,62594,37.0,-0.062500,-0.083100,0.12500,2.590312e+03,0.223988,1.33,1854.500,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04,7.859534
3,MDC,66245,3949.0,-0.030345,-0.050945,0.12500,1.349180e+05,0.001681,0.17,205.033,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04,11.812422
4,RES,66683,5077.0,0.108434,0.087834,0.12500,1.672675e+05,0.000232,0.23,104.361,0.0206,0.0522,-0.0405,0.0046,-0.0091,0.013431,1996-04,12.027350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18971,EXEL,88159,83266.0,-0.342776,-0.235576,2.75000,6.523840e+05,0.000009,-0.32,113.132,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11,13.388389
18972,NRG,88232,105151.0,-0.014423,0.092777,0.25000,8.301475e+05,0.000571,0.28,1360.914,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11,13.629359
18973,CRL,88281,24937.0,-0.185714,-0.078514,0.06250,6.908400e+05,0.000112,0.40,-108.663,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11,13.445664
18974,NNN,88378,253765.0,-0.536946,-0.429746,0.03125,2.679529e+06,0.000058,0.33,3974.300,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11,14.801151
18975,EQIX,88519,72850.0,-0.551282,-0.444082,0.25000,3.350812e+05,0.000056,19.14,284.192,-0.1072,-0.0339,0.1234,0.0051,-0.0240,-0.080069,2000-11,12.722128

In [177]:
data_use = data_use[data_use['sizeln'] > 0]

In [178]:
timelist = np.unique(data_use[['date_merge']])

In [179]:
timelist

array(['1980-05', '1980-06', '1980-07', '1980-08', '1980-09', '1980-10',
       '1980-11', '1980-12', '1981-01', '1981-02', '1981-03', '1981-04',
       '1981-05', '1981-06', '1981-07', '1981-08', '1981-09', '1981-10',
       '1981-11', '1981-12', '1982-01', '1982-02', '1982-03', '1982-04',
       '1982-05', '1982-06', '1982-07', '1982-08', '1982-09', '1982-10',
       '1982-11', '1982-12', '1983-01', '1983-02', '1983-03', '1983-04',
       '1983-05', '1983-06', '1983-07', '1983-08', '1983-09', '1983-10',
       '1983-11', '1983-12', '1984-01', '1984-02', '1984-03', '1984-04',
       '1984-05', '1984-06', '1984-07', '1984-08', '1984-09', '1984-10',
       '1984-11', '1984-12', '1985-01', '1985-02', '1985-03', '1985-04',
       '1985-05', '1985-06', '1985-07', '1985-08', '1985-09', '1985-10',
       '1985-11', '1985-12', '1986-01', '1986-02', '1986-03', '1986-04',
       '1986-05', '1986-06', '1986-07', '1986-08', '1986-09', '1986-10',
       '1986-11', '1986-12', '1987-01', '1987-02', '1987-03', '1987-04',
       '1987-05', '1987-06', '1987-07', '1987-08', '1987-09', '1987-10',
       '1987-11', '1987-12', '1988-01', '1988-02', '1988-03', '1988-04',
       '1988-05', '1988-06', '1988-07', '1988-08', '1988-09', '1988-10',
       '1988-11', '1988-12', '1989-01', '1989-02', '1989-03', '1989-04',
       '1989-05', '1989-06', '1989-07', '1989-08', '1989-09', '1989-10',
       '1989-11', '1989-12', '1990-01', '1990-02', '1990-03', '1990-04',
       '1990-05', '1990-06', '1990-07', '1990-08', '1990-09', '1990-10',
       '1990-11', '1990-12', '1991-01', '1991-02', '1991-03', '1991-04',
       '1991-05', '1991-06', '1991-07', '1991-08', '1991-09', '1991-10',
       '1991-11', '1991-12', '1992-01', '1992-02', '1992-03', '1992-04',
       '1992-05', '1992-06', '1992-07', '1992-08', '1992-09', '1992-10',
       '1992-11', '1992-12', '1993-01', '1993-02', '1993-03', '1993-04',
       '1993-05', '1993-06', '1993-07', '1993-08', '1993-09', '1993-10',
       '1993-11', '1993-12', '1994-01', '1994-02', '1994-03', '1994-04',
       '1994-05', '1994-06', '1994-07', '1994-08', '1994-09', '1994-10',
       '1994-11', '1994-12', '1995-01', '1995-02', '1995-03', '1995-04',
       '1995-05', '1995-06', '1995-07', '1995-08', '1995-09', '1995-10',
       '1995-11', '1995-12', '1996-01', '1996-02', '1996-03', '1996-04',
       '1996-05', '1996-06', '1996-07', '1996-08', '1996-09', '1996-10',
       '1996-11', '1996-12', '1997-01', '1997-02', '1997-03', '1997-04',
       '1997-05', '1997-06', '1997-07', '1997-08', '1997-09', '1997-10',
       '1997-11', '1997-12', '1998-01', '1998-02', '1998-03', '1998-04',
       '1998-05', '1998-06', '1998-07', '1998-08', '1998-09', '1998-10',
       '1998-11', '1998-12', '1999-01', '1999-02', '1999-03', '1999-04',
       '1999-05', '1999-06', '1999-07', '1999-08', '1999-09', '1999-10',
       '1999-11', '1999-12', '2000-01', '2000-02', '2000-03', '2000-04',
       '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10',
       '2000-11', '2000-12', '2001-01', '2001-02', '2001-03', '2001-04',
       '2001-05', '2001-06', '2001-07', '2001-08', '2001-09', '2001-10',
       '2001-11', '2001-12', '2002-01', '2002-02', '2002-03', '2002-04',
       '2002-05', '2002-06', '2002-07', '2002-08', '2002-09', '2002-10',
       '2002-11', '2002-12', '2003-01', '2003-02', '2003-03', '2003-04',
       '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10',
       '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04',
       '2004-05', '2004-06', '2004-07', '2004-08', '2004-09', '2004-10',
       '2004-11', '2004-12', '2005-01', '2005-02', '2005-03', '2005-04',
       '2005-05', '2005-06', '2005-07', '2005-08', '2005-09', '2005-10',
       '2005-11', '2005-12', '2006-01', '2006-02', '2006-03', '2006-04',
       '2006-05', '2006-06', '2006-07', '2006-08', '2006-09', '2006-10',
       '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04',
       '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10',
       '2007-11', '2007-12', '2008-01', '2008-02', '2008-03', '2008-04',
       '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10',
       '2008-11', '2008-12', '2009-01'], dtype=object)

In [180]:
data_by_time = []
for i in timelist:
    datai = data_use[data_use['date_merge'] == i]
    data_by_time.append(datai)

In [181]:
factors = ['VOL', 'SPREAD', 'sizeln', 's2p', 'epspxq']
param_est = {'vol':[], 'spread': [], 'sizeln': [], 's2p': [], 'epspxq': []}
for dataframe in data_by_time:
    X = dataframe[['VOL', 'SPREAD', 'sizeln', 's2p', 'epspxq']]
    y = dataframe['risk_premium']
    model = LinearRegression()
    results = model.fit(X, y)
    param_est['vol'].append(results.coef_[0])
    param_est['spread'].append(results.coef_[1])
    param_est['sizeln'].append(results.coef_[2])
    param_est['s2p'].append(results.coef_[3])
    param_est['epspxq'].append(results.coef_[4])

In [182]:
param_est = pd.DataFrame(param_est)

In [183]:
param_est.mean()

vol       4.357876e-07
spread   -3.310861e-02
sizeln    1.817434e-02
s2p       2.159207e-01
epspxq    1.025397e-02
dtype: float64

In [184]:
param_est.std()

vol       0.000109
spread    1.034140
sizeln    0.148811
s2p       9.605360
epspxq    0.252173
dtype: float64

In [185]:
param_tstat = param_est.mean() / (param_est.std() * np.sqrt(252))

In [186]:
param_tstat

vol       0.000251
spread   -0.002017
sizeln    0.007693
s2p       0.001416
epspxq    0.002561
dtype: float64

In [187]:
data_use.to_csv("train.csv")